/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.TodoWrapper {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

/*Categories*/
.category-red {
  background-color: red;
}

.category-blue {
  background-color: blue;
}