/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
  padding: 20px;
}

.TodoWrapper {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

/*Categories*/
.category-red {
  border: 2px solid red;
  color: red;
}

.category-blue {
  border: 2px solid blue;
  color: blue;
}

.category-green {
  border: 2px solid green;
  color: green;
}

.category-yellow {
  border: 2px solid yellow;
  color: yellow;
}

.category-purple {
  border: 2px solid purple;
  color: purple;
}

.category-orange {
  border: 2px solid orange;
  color: orange;
}

.category-pink {
  border: 2px solid pink;
  color: pink;
}

.category-black {
  border: 2px solid black;
  color: black;
}

.category-gray {
  border: 2px solid gray;
  color: gray;
}

.category-brown {
  border: 2px solid brown;
  color: brown;
}

.category-bluesky {
  border: 2px solid #6262b5;
  color: #6262b5;
}