.task-item {
    background: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.task-item:hover {
    background-color: #f9f9f9;
}

.task-item h3 {
    margin: 0;
    font-size: 1.2em;
    cursor: pointer;
}

.task-item p {
    margin: 10px 0;
    font-size: 1em;
}

.task-item .completed {
    color: #c5aeff;
    text-decoration: line-through;
}

.task-item .incompleted {
    color: #333;
}

.task-item .task-details {
    margin-top: 10px;
    font-size: 0.9em;
    color: #666;
}

.task-item .task-details p {
    margin: 5px 0;
}

.task-item button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task-item .edit-icon {
    background-color: #4caf50;
    color: white;
}

.task-item .edit-icon:hover {
    background-color: #45a049;
}

.task-item .delete-icon {
    background-color: #f44336;
    color: white;
}

.task-item .delete-icon:hover {
    background-color: #e53935;
}

.task-item .complete-icon {
    background-color: #2196f3;
    color: white;
}

.task-item .complete-icon:hover {
    background-color: #1e88e5;
}